<%- include('../../layout/header.ejs') %>
    <main class="page-content">
        <div class="container">
            <div class="page-header">
                <h1 class="page-header__title">Product List</h1>
            </div>
            <div class="page-tools">
                <div class="page-tools__breadcrumbs">
                    <div class="breadcrumbs">
                        <div class="breadcrumbs__container">
                            <ol class="breadcrumbs__list">
                                <li class="breadcrumbs__item">
                                    <a class="breadcrumbs__link" href="index.html">
                                        <svg class="icon-icon-home breadcrumbs__icon">
                                            <use xlink:href="#icon-home"></use>
                                        </svg>
                                        <svg class="icon-icon-keyboard-right breadcrumbs__arrow">
                                            <use xlink:href="#icon-keyboard-right"></use>
                                        </svg>
                                    </a>
                                </li>
                                <li class="breadcrumbs__item disabled"><a class="breadcrumbs__link"
                                        href="#"><span>Product Management</span>
                                        <svg class="icon-icon-keyboard-right breadcrumbs__arrow">
                                            <use xlink:href="#icon-keyboard-right"></use>
                                        </svg></a>
                                </li>
                                <li class="breadcrumbs__item active"><span class="breadcrumbs__link">Products</span>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div class="toolbox">
                <div class="toolbox__row row gutter-bottom-xs">
                    <div class="toolbox__left col-12 col-lg">
                        <div class="toolbox__left-row row row--xs gutter-bottom-xs">
                            <div class="form-group form-group--inline col-12 col-sm-auto">
                                <label class="form-label">Show</label>
                                <div class="input-group input-group--white input-group--append">
                                    <input class="input input--select" type="text" value="10" size="1"
                                        data-toggle="dropdown" readonly><span class="input-group__arrow">
                                        <svg class="icon-icon-keyboard-down">
                                            <use xlink:href="#icon-keyboard-down"></use>
                                        </svg></span>
                                    <div
                                        class="dropdown-menu dropdown-menu--right dropdown-menu--fluid js-dropdown-select">
                                        <a class="dropdown-menu__item active" href="#" tabindex="0"
                                            data-value="10">10</a><a class="dropdown-menu__item" href="#" tabindex="0"
                                            data-value="15">15</a><a class="dropdown-menu__item" href="#" tabindex="0"
                                            data-value="20">20</a>
                                        <a class="dropdown-menu__item" href="#" tabindex="0" data-value="25">25</a><a
                                            class="dropdown-menu__item" href="#" tabindex="0" data-value="50">50</a>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group form-group--inline col col-sm-auto">
                                <div class="input-group input-group--white input-group--append">
                                    <select class="input js-input-select" data-placeholder="">
                                        <option value="1" selected="selected">All Categories
                                        </option>
                                        <option value="2">MacBook
                                        </option>
                                        <option value="3">Apple Watch
                                        </option>
                                        <option value="4">AirPods
                                        </option>
                                        <option value="5">iPhone
                                        </option>
                                        <option value="6">IPad
                                        </option>
                                    </select><span class="input-group__arrow">
                                        <svg class="icon-icon-keyboard-down">
                                            <use xlink:href="#icon-keyboard-down"></use>
                                        </svg></span>
                                </div>
                            </div>
                            <div class="form-group form-group--inline col-12 col-sm-auto d-none d-sm-block">
                                <div class="toolbox__status input-group input-group--white input-group--append">
                                    <input class="input input--select" type="text" value="All status"
                                        data-toggle="dropdown" readonly><span class="input-group__arrow">
                                        <svg class="icon-icon-keyboard-down">
                                            <use xlink:href="#icon-keyboard-down"></use>
                                        </svg></span>
                                    <div
                                        class="dropdown-menu dropdown-menu--right dropdown-menu--fluid js-dropdown-select">
                                        <a class="dropdown-menu__item active" href="#" tabindex="0"
                                            data-value="All status"><span class="marker-item"></span> All status</a>
                                        <a class="dropdown-menu__item" href="#" tabindex="0"
                                            data-value="Published"><span class="marker-item color-green"></span>
                                            Published</a><a class="dropdown-menu__item" href="#" tabindex="0"
                                            data-value="Deleted"><span class="marker-item color-red"></span>
                                            Deleted</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="toolbox__right col-12 col-lg-auto">
                        <div class="toolbox__right-row row row--xs flex-nowrap">
                            <div class="col col-lg-auto">
                                <form class="toolbox__search" method="GET">
                                    <div class="input-group input-group--white input-group--prepend">
                                        <div class="input-group__prepend">
                                            <svg class="icon-icon-search">
                                                <use xlink:href="#icon-search"></use>
                                            </svg>
                                        </div>
                                        <input class="input" type="text" name="search" placeholder="Search product"
                                            value="<%= search %>">
                                    </div>
                                </form>
                            </div>
                            <div class="col-auto">
                                <a class="button-add button-add--blue" href="/panel/add-product"><span
                                        class="button-add__icon">
                                        <svg class="icon-icon-plus">
                                            <use xlink:href="#icon-plus"></use>
                                        </svg></span><span class="button-add__text"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-wrapper">
                <div class="table-wrapper__content table-products table-collapse">
                    <table class="table table--lines">
                        <colgroup>
                            <col class="colgroup-1">
                            <col class="colgroup-2">
                            <col class="colgroup-3">
                            <col>
                            <col>
                            <col>
                            <col>
                            <col>
                            <col>
                        </colgroup>
                        <thead class="table__header">
                            <tr class="table__header-row">
                                <th class="d-none d-lg-table-cell"><span>Sr No.</span>
                                </th>
                                <th class="table__th-sort"><span class="align-middle">Product Name</span><span
                                        class="sort sort--down"></span>
                                </th>
                                <th class="table__th-sort"><span class="align-middle">Category</span><span
                                        class="sort sort--down"></span>
                                </th>
                                <th class="table__th-sort"><span class="align-middle">Price</span><span
                                        class="sort sort--down"></span>
                                </th>
                                <th class="table__th-sort d-none d-lg-table-cell"><span
                                        class="align-middle">Date</span><span class="sort sort--down"></span>
                                </th>
                                <th class="table__th-sort d-none d-sm-table-cell"><span
                                        class="align-middle">Status</span><span class="sort sort--down"></span>
                                </th>
                                <th class="table__th-sort d-none d-sm-table-cell"><span class="align-middle">Product
                                        Type</span></th>
                                <th class="table__actions"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <% if (products && products.length> 0) { %>
                                <% products.forEach(function(product,index) { %>
                                    <tr class="table__row">
                                        <td class="d-none d-lg-table-cell table__td"><span class="text-grey">
                                                <%= index + 1 %>
                                            </span></td>
                                        <td class="table__td">
                                            <%= product.name %>
                                        </td>
                                        <td class="table__td"><span class="text-grey">
                                                <%= product.main_category_name || '—' %>
                                            </span></td>
                                        <td class="table__td">

                                            <span class="price-display"
                                                data-prices='<%- JSON.stringify(product.priceObj || {}) %>'>
                                                —
                                            </span>

                                        </td>
                                        <td class="d-none d-lg-table-cell table__td"><span class="text-grey">
                                                <%= new Date(product.created_at).toLocaleDateString('en-IN') %>
                                            </span></td>
                                        <td class="d-none d-sm-table-cell table__td">
                                            <div class="table__status">
                                                <span
                                                    class="table__status-icon <%= product.status == 1 ? 'color-green' : 'color-red' %>"></span>
                                                <%= product.status==1 ? 'Published' : 'Unpublished' %>
                                            </div>
                                        </td>
                                        <td class="d-none d-sm-table-cell table__td">
                                            <%= product.product_type=='product_list' ? 'Product List' :
                                                product.product_type=='enquiry' ? 'Enquiry' : '—' %>
                                        </td>
                                        <td class="table__td table__actions">
                                            <div class="items-more">
                                                <button class="items-more__button">
                                                    <svg class="icon-icon-more">
                                                        <use xlink:href="#icon-more"></use>
                                                    </svg>
                                                </button>
                                                <div class="dropdown-items dropdown-items--right">
                                                    <div class="dropdown-items__container">
                                                        <ul class="dropdown-items__list">
                                                            <li class="dropdown-items__item"><a
                                                                    class="dropdown-items__link"
                                                                    href="/panel/product/<%= product.product_token %>"><span
                                                                        class="dropdown-items__link-icon"><svg
                                                                            class="icon-icon-view">
                                                                            <use xlink:href="#icon-view"></use>
                                                                        </svg></span>Details</a>
                                                            </li>
                                                            <li class="dropdown-items__item">
                                                                <form method="POST"
                                                                    action="/panel/toggle-product-status"
                                                                    style="display:inline;">
                                                                    <input type="hidden" name="product_token"
                                                                        value="<%= product.product_token %>">
                                                                    <input type="hidden" name="status"
                                                                        value="<%= product.status %>">
                                                                    <button type="button" class="dropdown-items__link"
                                                                        style="background:none;border:none;cursor:pointer;width:100%;text-align:left;"
                                                                        onclick="confirmToggleStatus(this, '<%= product.status == 1 ? `Unpublish` : `Publish` %>')">
                                                                        <span class="dropdown-items__link-icon">
                                                                            <i class="fa-solid fa-ban"></i>
                                                                        </span>
                                                                        <%= product.status==1 ? 'Unpublish' : 'Publish'
                                                                            %>
                                                                    </button>
                                                                </form>
                                                            </li>
                                                            <li class="dropdown-items__item"><a
                                                                    class="dropdown-items__link"
                                                                    href="/panel/edit-product/<%= product.product_token %>"><span
                                                                        class="dropdown-items__link-icon"><svg
                                                                            class="icon-icon-duplicate">
                                                                            <use xlink:href="#icon-duplicate"></use>
                                                                        </svg></span>Edit</a></li>
                                                            <li class="dropdown-items__item">
                                                                <form method="POST" action="/panel/delete-product"
                                                                    style="display:inline;">
                                                                    <input type="hidden" name="product_token"
                                                                        value="<%= product.product_token %>">
                                                                    <button type="button" class="dropdown-items__link"
                                                                        style="background:none;border:none;cursor:pointer;width:100%;text-align:left;"
                                                                        onclick="confirmDelete(this)">
                                                                        <span class="dropdown-items__link-icon">
                                                                            <svg class="icon-icon-trash">
                                                                                <use xlink:href="#icon-trash"></use>
                                                                            </svg>
                                                                        </span>Delete
                                                                    </button>
                                                                </form>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <% }) %>
                                        <% } else { %>
                                            <tr>
                                                <td colspan="8" style="text-align:center; padding:30px; color:#999;">No
                                                    products found.</td>
                                            </tr>
                                            <% } %>
                        </tbody>
                    </table>
                    <% if (totalPages> 1) { %>
                        <div class="table-wrapper__footer">
                            <div class="row align-items-center">
                                <div class="col text-grey">
                                    Showing page <%= currentPage %> of <%= totalPages %> &nbsp;(Total: <%= totalItems %>
                                                products)
                                </div>
                                <div class="col-auto">
                                    <ul class="pagination">

                                        <!-- Previous -->
                                        <li class="pagination__item <%= currentPage == 1 ? 'disabled' : '' %>">
                                            <a class="pagination__link"
                                                href="?page=<%= currentPage - 1 %>&search=<%= search %>">
                                                <svg class="icon-icon-keyboard-left">
                                                    <use xlink:href="#icon-keyboard-left"></use>
                                                </svg>
                                            </a>
                                        </li>

                                        <!-- Page Numbers -->
                                        <% for(let i=1; i <=totalPages; i++) { %>
                                            <li class="pagination__item <%= currentPage == i ? 'active' : '' %>">
                                                <a class="pagination__link" href="?page=<%= i %>&search=<%= search %>">
                                                    <%= i %>
                                                </a>
                                            </li>
                                            <% } %>

                                                <!-- Next -->
                                                <li
                                                    class="pagination__item <%= currentPage == totalPages ? 'disabled' : '' %>">
                                                    <a class="pagination__link"
                                                        href="?page=<%= currentPage + 1 %>&search=<%= search %>">
                                                        <svg class="icon-icon-keyboard-right">
                                                            <use xlink:href="#icon-keyboard-right"></use>
                                                        </svg>
                                                    </a>
                                                </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <% } %>
                </div>
            </div>
        </div>
    </main>

    <script>
        const priceSymbols = { INR: '₹', USD: '$', AED: 'د.إ', EUR: '€', GBP: '£' };

        function updatePrices() {
            const currency = localStorage.getItem('currency') || 'INR';

            document.querySelectorAll('.price-display').forEach(function (el) {
                try {
                    const prices = JSON.parse(el.dataset.prices || '{}');

                    if (prices[currency]) {
                        const sym = priceSymbols[currency];
                        const sellingVal = prices[currency].selling_price || prices[currency].selling || 0;
                        el.textContent = sym + parseFloat(sellingVal).toFixed(2);
                    } else {
                        el.textContent = '—';
                    }
                } catch (err) {
                    el.textContent = '—';
                }
            });
        }
        updatePrices();
        window.addEventListener('currencyChange', updatePrices);

        function confirmToggleStatus(btn, action) {
            const form = btn.closest('form');
            const isUnpublish = action === 'Unpublish';
            AppModal.confirm({
                type: isUnpublish ? 'warning' : 'info',
                title: isUnpublish ? 'Unpublish Product?' : 'Publish Product?',
                message: isUnpublish
                    ? 'This product will be hidden from the store. You can re-publish it anytime.'
                    : 'This product will be visible to all customers on the store.',
                confirmText: isUnpublish ? 'Yes, Unpublish' : 'Yes, Publish',
                onConfirm: function () {
                    form.submit();
                }
            });
        }

        function confirmDelete(btn) {
            const form = btn.closest('form');
            AppModal.confirm({
                type: 'danger',
                title: 'Delete Product?',
                message: 'This action is permanent and cannot be undone. The product and all its data will be removed.',
                confirmText: 'Yes, Delete',
                onConfirm: function () {
                    form.submit();
                }
            });
        }

    </script>
    <%- include('../../layout/footer.ejs') %>